@import url('https://fonts.googleapis.com/css?family=Montserrat|Muli|Public+Sans&display=swap');
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
/* #b4392a
   #b9833b
   #0060a4
   #972b69
   #065d33
 */
@font-face{
    font-family: Expressway;
    src: url("../fonts/expressway rg.ttf");
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
}
section.grid{
    height: calc(100vh - 70px);
}
.magictime.vanishIn, .magictime.spaceInDown{
    /*-webkit-animation-duration: 2s;
    -o-animation-duration: 2s;*/
    animation-duration: 2s;
}
#home{
/*    background-color: #894049;*/
    background-color: black;
    height: 100vh;
    position: relative;
    /* top: 0; */
}
#home .contentHome{
    color: black;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
/*    margin-left: 20px;*/
    text-align: center;
}
#home .contentHome img{
    width: 550px;
    /*height: 120px;*/
}
/*#home .contentHome h2{
    font-family: Expressway;
    font-size: 38px;
    text-transform: uppercase;
    letter-spacing: 2px;
}*/
#home .contentHome p{
    font-family: Expressway;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 32px;
    letter-spacing: 3px;
    color: white;
    margin-top: -50px;
}
/*#home i{
    margin: 0;
    padding: 5px;
/*    border: 1px solid black;
}*/
/*#home i:hover{
    transform: translateY(10px);
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}*/
@keyframes ico-down{
    0%{
        /*opacity: 0;*/
        bottom: 10%;
        opacity: 0;
    }
    100%{
        /*opacity: 1;*/
        bottom: 5%;
        opacity: 1;
    }
}
#home i{
    position: absolute;
    font-size: 30px;
    /*bottom: 5%;*/
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
    /*border-radius: 50%;*/
    padding: 10px;
    animation-name: ico-down;
    animation-direction: forwards;
    animation-duration: 0.9s;
    -webkit-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    color: #f0f0f0;
    /*background-color: rgba(255, 255, 255, 0.6);*/
    /*width: 30px;*/
}
::-webkit-scrollbar{
    /* width: 8px; */
    width: 0;
}
::-webkit-scrollbar-thumb{
    background: #83677b;
}
nav{
    position: sticky;
    top: 0;
    width: 100%;
    background: #010101;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    /*padding-left: 10px;*/
    /*padding-right: 10px;*/
    z-index: 100;
    /*padding:0 10px 0 10px;*/
}
nav .left{
    /*vertical-align: center;*/
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    font-size: 30px;
    position: relative;
}
nav .left .logo img{
    width: 80px;
    position: absolute;
    top: 50%;
    left: 120%;
    transform: translate(-50%, -50%);
}
nav .right1{
    margin-right: 15px;
}
nav .right1 ul{
    display: flex;
    /*margin-right: 5px;*/
}
nav .right2 ul{
    display: flex;
    /*margin-right: 5px;*/
}
li{
    list-style: none;
}
nav .right1 ul li a{
    display: inline-block;
    /*color: white;*/
    padding: 10px;
    margin-right: 1px;
}
nav .right2 ul li a{
    display: inline-block;
    /*color: white;*/
    padding: 10px;
    margin-right: 1px;
}
nav .left button{
    display: none;
}
nav a{
    color: white;
    text-decoration: none;
    font-family: Expressway;
    transition: 0.2s;
}
nav li:hover a{
    color: black;
    /* background: #add8e6; */
    background: #f4ab3c;
}
.right2{
    display: none;
}
.active{
    color: black;
    /*background: #49beb7;*/
    background:#f4ab3c;
    /*transition: 0.5s;*/
}
#workshops{
    /*background: #25274d;*/
    /*background: #0f2862;*/
    /*background: #123c69;*/
    /* background: #29648a; //*/
    /*background: #a4b3b6;*/
    background: #b4392a;
    color: white;
    padding-top: 30px;
    height: auto;
    padding-bottom: 20px;
    /*margin-top: 100vh;*/
}
.grid{
    padding-top: 35px;
}
.grid h1{
    text-align: center;
    font-size: 32px;
    font-family: Expressway;
    font-weight: 500;
    letter-spacing: 4px;
    /*color: #fff000;*/
    color: #111000;
    /* padding-top: 50px; */
    text-transform: uppercase;
}
#workshops .wshops{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    padding-left: 100px;
    padding-right: 100px;
    align-content: space-between;
}
.w1{
    transform-origin: left;
    transform: translateX(-100px); 
}
.w2{
    transform-origin: right;
    transform: translateX(100px); 
}
.w1, .w2{
    transition: 2s;
}
#workshops .wshops .w1[data-scroll="in"]{
    transform: translateX(0px);
    opacity: 1;
}
#workshops .wshops .w1[data-scroll="out"]{
    transform: translateX(-100px);
    opacity: 0;
}
#workshops .wshops .w2[data-scroll="in"]{
    transform: translateX(0px);
    opacity: 1;
}
#workshops .wshops .w2[data-scroll="out"]{
    transform: translateX(100px);
    opacity: 0;
}
.w .rt h3, .w .lt h3{
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 26px;
}
.w .rt p, .w .lt p{
    font-family: 'Muli', sans-serif;
    text-align: justify;
    margin-top: 50px;
    line-height: 25px;
    font-size: 15px;
} 
.w1{
    margin-bottom: 50px;
}
#workshops .wshops .w{
    display: flex;
}
.rt{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin-left: 40px;
}
.lt{
    display: flex;
    align-content: space-between;
    flex-direction: column;
    margin-right: 40px;
}

#guestlectures{
    background: #b9833b;
    height: auto;
}

.lecs{
    display: flex;
    flex-direction: column;
    height: 70%;
    margin-top: 70px;
    padding: 0 20px;
    align-content: space-between;
}
.lecs .lec{
    display: flex;
    justify-content: space-between;
}
.lecs .lec .lec1:nth-child(1){
    margin-right: 100px;
}
.lecs .lec .lec1{
    width: 50%;
}
#festivals{
    position: relative;
    background: #0060a4;
    color: white;
    height:  50vh;
    text-align: center;
}
#festivals p{
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    margin-top: 90px;
}
#tech{
    height: 79vh;
    /*background: #116466;*/
    /* background: #2e9cca; //*/
    background: #972b69;
    /*background: #bab2b5;*/
    /*background: #e98074;*/
    /* padding-top: 70px; */
}
#tech h1, #non-tech h1{
    font-family: "Montserrat";
    text-transform: uppercase;
    margin-bottom: 90px;
    /*color: #fff000;*/
    color: #fff000;
    text-align: center;
    font-size: 30px;
    letter-spacing: 4px;
    font-weight: 300;
}
#tech .item, #non-tech .item{
    /*margin-top: 50px;*/
    color: black;
    background: black;
    /*z-index: 99;*/
    /*width: 300px;*/
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url("https://picsum.photos/id/866/500/200"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#tech .item a, #non-tech .item a{
    color: black;
}
a{
    color: white;
    text-decoration: none;
    font-family: Expressway;
}
#non-tech{
    height: 78vh;
    /*background: linear-gradient(to right, #141e30, #243b55);*/
    /*background: #112d32;*/
    /* background: #aaabb8;// */
    background: #065d33;
    /*background: #eee2dc;*/
    /* padding-top: 70px; */
}
#sponsors{
    height: 79vh;
    /*background: #19181a;*/
    background: #464866;
    /* padding-top: 70px; */
}
#sponsors h1{
    text-align: center;
    color: #fff000;
    text-transform: uppercase;
    font-family: "Montserrat";
    font-weight: 200;
    font-size: 30px;
    letter-spacing: 4px;
    margin-bottom: 80px;
}
#sponsors .sponsorLogos{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    /*height: 0%;*/
}
#sponsors .sponsorLogos .logos4{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
    align-content: space-between;
}
#gallery{
    /* padding-top: 70px; */
    height: auto;
    /*background: #101010;*/
    background: #25274d;
    /*background: #ffffff;*/
    /*background-image: url("../imgs/back1.jpg");
    background-size: cover;
    background-position: center;*/
    padding-bottom: 30px;
}
#gallery h1{
    text-align: center;
    color: #fff000;
    text-transform: uppercase;
    font-family: "Montserrat";
    font-weight: 200;
    letter-spacing: 4px;
    font-size: 30px;
    margin-bottom: 70px;
}
#gallery .slideshow1{
    /*width: 400px;*/
    /*height: 10px;*/
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    /*background: white;*/
    /*color: white;*/
    /*height: 50px;*/
}
#gallery .slideshow2{
    display: flex;
    justify-content: center;
}
#gallery #owlCar1{
    width: 400px;
    margin-right: 10px;
    transition: 1s;
    transform: scale(0.5);
    opacity: 0;
}
#gallery #owlCar2{
    width: 300px;
    transition: 1s;
    opacity: 0;
    transform: scale(0.5);
    transition-delay: 0.5s;
}
#gallery #owlCar4{
    width: 400px;
    margin-left: 10px;
    opacity: 0;
    transform: scale(0.5);
    transition: 1s;
    transition-delay: 1.5s;
}
#gallery #owlCar3{
    width: 300px;
    transition: 1s;
    opacity: 0;
    transform: scale(0.5);
    transition-delay: 1s;
}
#gallery #owlCar1[data-scroll="in"]{
    transform: scale(1);
    opacity: 1;
}
#gallery #owlCar2[data-scroll="in"]{
    transform: scale(1);
    opacity: 1;
}
#gallery #owlCar3[data-scroll="in"]{
    transform: scale(1);
    opacity: 1;
}
#gallery #owlCar4[data-scroll="in"]{
    transform: scale(1);
    opacity: 1;
}
#gallery .slideshow1 .item, #gallery .slideshow2 .item{
    height: 200px;
}
footer{
    height: 250px;
    width: 100vw;
    /* background: #230338; */
    background: #111000;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-content: space-around;
}
footer .devs{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    /*margin-top: 20px;*/
}
footer .devs .dev{
    display: flex;
    flex-direction: column;
    /*margin-left: 15px;
    margin-right: 15px;*/
    /*background: #000fff;*/
    justify-content: space-between;
    align-items: center;
    /*background: #f0f0f0;*/
    height: 120px;
    width: 100%;
    font-family: Expressway;
}
footer .devs .dev h3 span{
    font-size: 8px;
    padding: 3px 5px;
    border: 0.4px solid #fff000;
    background: #0f0f0f;
    letter-spacing: 1px;
    margin-left: 5px;
    animation-name: animate;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    /*margin-top: -60px;*/
}
@keyframes animate{
    0%{
        box-shadow: 0px 0px 0px 0px #555;
    }
    100%{
        box-shadow: 0px 0px 15px 0px #555;
    }
}
footer h2{
    font-family: Montserrat;
    font-size: 22px;
    text-transform: uppercase;
}
.heart{
    /*font-size: 35px;*/
    animation-name: heart;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes heart{
    0%{
        transform: scale(0.7);
    }
    20%{
        transform: scale(1.3);
    }
    60%{
        transform: scale(1);
    }
    80%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(0.7);
    }
}
footer h3{
    font-family: Montserrat;
    font-size: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}
footer .email{
    font-size: 20px;
    color: #cc0cc0;
}
footer ul{
    padding-left: 0;
    display: flex;
}
footer li{
    padding: 0;
    /*margin-bottom: 30px;*/
    margin-right: 10px;
    margin-left: 10px;
}
footer li a{
    padding: 10px 12px;
    /*border-radius: 50%;*/
    /*box-shadow: inset 0px 0px 19px 3px rgba(0,0,0,0.75);*/
    border: 1px solid white;
    font-size: 24px;
    transition: 0.4s;
}
footer li a:hover{
    background: white;
    color: black;
}
/*section h1[data-scroll="in"]{
    border-bottom: 
}*/
@media only screen and (max-width: 998px){
    body, html{
        overflow-x: hidden;
    }
    ::-webkit-scrollbar{
        /* width: 8px; */
        width: 0;
    }
    .right1{
        display: none;
    }
    #home .contentHome img{
        width: 450px;
        /*height: 120px;*/
    }
    #home .contentHome p{
        font-size: 32px;
    }
    #home{
        height: 100vh;
    }
    nav .left button{
        display: inline-block;
        width: 25px;
        height: 25px;
    }
    nav .left{
        display: flex;
        justify-content: space-between;
        margin-left: 5px;
        align-items: center;
        margin-right: 5px;
        font-size: 40px;
    }
    nav{
        flex-direction: column;
        position: fixed;
        height: auto;
        width: 100%;
        transition: all 0.5s;
    }
    nav i{
        transition:all 0.5s ease;
    }
    nav .right2 ul li a{
        display: block;
    }
    nav .right2 ul{
        flex-direction: column;
        padding: 0;
    }
    nav .hamb{
        border: none;
        background: #fff;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        /*padding: 20px;*/
        /*height: 100%;*/
        /*text-align: center;*/
        /*vertical-align: center;*/
        /*font-size: 20px;*/
        /*width: 30px;*/
        padding: 0;
    }
    nav .hamb i{
        font-size: 28px;
        margin: 0;
        padding:10px 15px;
    }
    nav .hamb:focus{
        outline: none;
    }
    nav .left .logo img{
        width: 50px;
        top: 15%;
        left: 0;
        transform: translate(0, 0);
    }
    .w1{
        flex-direction: column;
    }
    #workshops{
        padding-bottom: 0;
        overflow-x: hidden;
    }
    #workshops .wshops .w.w2{
        flex-direction: column-reverse;
    }
    #workshops img{
        width: 170;
        height: 90;
    }
    #workshops .wshops{
        padding: 0;
    }
    .rt, .lt{
        margin-left: 0;
        padding-left: 20px;
        padding-right: 20px; 
    }
    .lt{
        margin-right: 0;
    }
    #tabby{
        /* display: block; */
        padding: 20px;
    }
    #tab1,#tab2{
        text-align: justify;
        font-size: 15px;
        font-family: 'Public Sans', sans-serif;
    }
    #tech, #non-tech{
        height: auto;
    }
    #tech #techeve .item, #non-tech #nontecheve .item{
        height: 300px;
    }
    #tech, #non-tech{
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
    }
    #tech h1, #non-tech h1{
        margin-bottom: 20px;
    }
    #sponsors{
        height: auto;
        padding-bottom: 30px;
    }
    #sponsors .sponsorLogos .logos4{
        flex-wrap: wrap;
        margin-bottom: 10px;
        /* padding-top: 10px; */
    }
    #gallery .slideshow1, #gallery .slideshow2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #gallery #owlCar1{
        width: 300px;
        margin-right: 0;
        margin-bottom: 10px;
    }
    #gallery #owlCar2{
        width: 300px;
    }
    #gallery #owlCar4{
        width: 300px;
        margin-left: 0;
    }
    #gallery #owlCar3{
        width: 300px;
        margin-bottom: 10px;
    }
    footer{
        height: 500px;
    }
    footer .devs{
        flex-wrap: wrap;
    }
    footer .devs .dev:nth-child(2){
        margin-top: 30px;
        margin-bottom: 30px;
    }
}






























































